<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Education and Experiences</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Education</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="Education" width="80%" cellspacing="5">
              <tbody>
                <tr>
                  <th>College Name</th>
                  <td>Stanford Univeristy</td>
                </tr>
                <tr>
                  <th>Degree</th>
                  <td>Bachelor</td>
                </tr>
                <tr>
                  <th>Major(s)</th>
                  <td>Computer Science; Philosophy</td>
                </tr>
                <tr>
                  <th>(Expected) Graduation Date</th>
                  <td>May 2020</td>
                </tr>
              </tbody>                                                                   
            </table>
          </div>
        </div>
        <div class="card-header">
          <i class="fa fa-table"></i> Experiences</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="Experiences" width="80%" cellspacing="5">
              <tbody>
                <tr>
                  <th>Employment Status</th>
      					  <td>Employed</td>
                </tr>
                <tr>
                  <th>Company</th>
                  {% for job in jobInfo %}
					  <td>{{job["company"]['name'].title()}}</td>
				  {% endfor %}
                </tr>
                <tr>
                  <th>Duration</th>
                  {% for job in jobInfo %}
					  <td>{{job["length"]}} Months</td>
				  {% endfor %}
                </tr>
                <tr>
                  <th>Start Date</th>
                  {% for job in jobInfo %}
					  <td>{{month_name[job["startDate"]['month']]}} {{job["startDate"]['year']}}</td>
				  {% endfor %}
                </tr>
                <tr>
                  <th>End Date</th>
                  {% for job in jobInfo %}
					  <td>{{month_name[job["endDate"]['month']]}} {{job["endDate"]['year']}}</td>
				  {% endfor %}
                </tr>
                <tr>
                  <th>Job Title</th>
                  {% for job in jobInfo %}
					  <td>{{job["title"].title()}}</td>
				  {% endfor %}
                </tr>
                <tr>
                  <th>Estimated Salary</th>
                  {% for job in jobInfo %}
					  <td>${{job["salary"]}}</td>
				  {% endfor %}
                </tr>
              </tbody>                                                                    
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Client Info Advising 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
</div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min-Toxic.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-charts.min-Toxic.js"></script>
